:root {
    --backColor: #0D040D;
    --mainOrange: #FFA000;
    --textFieldGray: #171717;
    --usageGray: #D9D9D9;
    --debtRed: #E95959;
    --smallFont1: 12px;
    --smallFont2: 16px;
    --mediumFont: 20px;
    --bigFont: 24px;
}